body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}


h1 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
button {
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 10px;
  font-weight: bold;
}

p {
  margin-top: 20px;
  color: #666;
}

/*.ma {
  transform: translateZ(0px) scale(1, 1);
  opacity: 1;
  backface-visibility: hidden;
  width: 400px;
  height: 1000px;
}
*/